@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #f5f7fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

#title {
    text-align: center;
    color: red;
    font-size: 3rem;
    margin: 50px;
    letter-spacing: 2px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 100px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

input {
    width: 140%;
    max-width: 500px;
    padding: 15px;
    border: 1px solid;
    margin-bottom: 20px;
    border-radius: 10px;
}

input:focus {
    border-color: red;
    outline: none;
}

.ok {
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    align-self: flex-end;
}

.ok:hover {
    background-color: #ccc;
    cursor: pointer;
}

.rodape {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    width: 100%;
}
